.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.logout_btn {
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
}

.user_name {
    color: blueviolet;
}